@import 'styles/variable.styl';

.main-article-wrapper {
  flex: 1 auto;
  display: flex;
  justify-content: center;

  .main-article {
    display: flex;
    position: relative;
    width: main-width;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;

    @media phone {
      width: 100vw;
    }
  }
}
