//归档页面，也就是标签集合、时间归档以及分类集合页面的所有设定
#container > div.archives-title
  margin 2em 0 0 50px
  width 250px
  float left
  padding 1em
  background #fafafa
  border-left 0.5em solid #ccc
  color color-theme
  font-size 1em
  box-shadow 0 0 3px color-gray
  > p
    font-size 1.2em
  > ul
    list-style none
    padding 0
    a
      font-size 100%
      display block
      transition color 0.2s
      margin 0.4em 0 0 1.5em
    a.current
      color color-orange

#container > div.archives-title.tags > ul
  padding-left 1.5em
  li
    display inline-block
    margin 0
  a
    font-size 100%
    margin .3125em
    padding .125em .3125em
    background lighten(color-gray, 30%)
  a.current
    background lighten(color-gray, 50%)

ul#main.archives-list
  float right
  list-style none
  padding 0
  margin 2em 100px 0 0
  width 800px
  li
    background #fafafa
    margin-bottom 0.125em
    margin-right 5px
    width 100%
    box-shadow 0 0 3px color-gray
    a
      display block
      border-left 0.5em solid #ccc
      transition border-left 0.45s
      padding 0.5em
      font-size 0.9em
      &:hover
        border-left 0.5em solid color-theme
      time
        color color-font
        display block
        margin 0.5em 5em 0.5em 2em
        font-size 1.2em
        float left
      span
        color color-theme
        line-height 2
        font-size 1.5em


#container div.archives-title,
#container ul.archives-list
  @media medium
    display block
    float none
    margin-left calc((100% - 800px) / 2) !important
  @media mini
    margin-left 0 !important
    width 100% !important

@media medium
  #container div.archives-title
    width 760px
    > ul > li
      display inline-block
      margin 0
  #container ul.archives-list
    width 800px

@media mini
  #container div.archives-title
    border none
  #container ul.archives-list > li > a
    border none

@media phone
  ul#main.archives-list li a time
    margin-left 1em
    margin-right 1em