//正文样式设定，这里和主页面文章列表有部分共用，这一部分是文章末尾的分类和标签

#main.post
  width width-post
  background color-post
  box-shadow 0 0 3px #888
  margin 2em 0 3px 3px
  float left
  transition margin 0.5s ease-out
  line-height 1.8
  &.post-center
    margin-left 175px
  > header
    border-bottom 1px solid color-border
    > p:nth-child(1)
      font-smoothing()
      color color-theme
      font-size 200%
      word-wrap break-word
      word-break normal
      border-left 5px solid color-theme
      padding 0.3em 1em
      line-height 1.5
    > p:nth-child(2)
      margin-right 1em
      padding .3em
      font-size .9em
      text-align right
      &:before
        font-smoothing()
        font-size 110%
        content "\f017"
        font-family font-icon-family
        margin 0 0.5em
  > nav
    padding 1em
    font-size 120%
    overflow hidden
    > div
      width auto
      a
        transition color 200ms ease-out
        &:hover
          color color-theme
    .prev
      float left
      margin-left 2em
      > a > p:nth-child(1)
        text-align left
        &:before
          font-smoothing()
          content "\f053"
          font-family font-icon-family
          position absolute
          transform translate(-1.5em, 1em)
    .next
      float right
      margin-right 2em
      > a > p:nth-child(1)
        text-align right
        &:after
          font-smoothing()
          content "\f054"
          font-family font-icon-family
          position absolute
          transform translate(0.5em, 1em)

//文章正文样式
#main.post .post-content
  padding 1.5em 4%
  font-size 1.15em
  color #555
  p, blockquote, ul, ol, dl, table
    margin 0.8em 0
  //分段
  p
    line-height line-height + 0.2
    @media phone
      line-height line-height - 0.1
    > span
      display block
      &:before
        content "　　"
      span.katex
        display inline
        > span
          display none
        > span.katex-html
          display inherit
      span.katex-display
        margin 0.5em 0

    > span.space
      &:before
        content none

    img.img-block
      max-width 100%
      display block
      margin 0 auto
    span.img-title
      color color-black
      font-size 0.8em
      text-align center
      display block
      margin 0.4em 0 0.5em
  //分隔符
  hr
    height 4px
    padding 0
    margin 16px 0
    background-color #ddd
    border 0 none
    overflow hidden
    box-sizing content-box
    border-bottom 1px solid #ddd
  //链接
  a
    color color-theme
  //标题
  h1,h2,h3,h3,h4,h5,h6
    color color-black
    position relative
    margin 1em 0 0.3em 0
    font-weight bold
    line-height 1.4
  h1
    padding 0 0 .3em 0
    font-size 2.25em
    border-bottom 4px solid color-gray
  h2
    border-bottom 2px solid color-gray
    font-size 1.75em
    padding 0 0 .3em 0
  h3
    font-size 1.5em
  h4
    font-size 1.25em
  h5, h6
    font-size 1em
  //单行内的强调
  code
    color color-code
    background-color lighten(color-code, 50)
    border-radius 10%
    font-family font-mono
    padding 0 5px
    margin 0 2px
    font-size 90%
    white-space nowrap
  //列表
  ul,ol
    padding-left 1.5em
  ol p,
  li p,
  ul p
    margin 0
    span:before
      content none
  li ol
    margin 0
  blockquote
    padding 10px 20px
    border-left 0.3em solid color-theme
    margin 1em 0
    line-height 1.5
    font-size 90%
    background #f2f2f2
    color #888
  //表格
  table, th, td
    border 1px solid lighten(color-gray,30%)
    border-collapse collapse
  table
    width 100%
    th
      font-weight bold
      padding 0.2em 0.8em
    td
      padding 0.4em 0.8em
    tr
      border-radius 0
    tbody tr:nth-child(2n),
    thead tr
      background lighten(color-gray,75%)

//文章本体、列表、引用 首元素没有顶部空格，底部元素没有底部空格
#main.post .post-content,
#main.post .post-content blockquote
  > :first-child
    margin-top 0
  > :last-child
    margin-bottom 0

//自定义类
.post .post-content
  .note,.warning,.translator
    padding 10px 20px
    margin 1em 0
    line-height line-height
    font-size 90%
    background #f2f2f2
    color #888
    &:before
      display block
      position absolute
      width 1.6em
      height 1.6em
      border-radius 50%
      font-size 0.8em
      color #fff
      text-align center
      transform translateX(-2.4em)
  .note
    border-left .3em solid #6c6
    &:before
      background-color #6c6
      font-family font-icon-family
      content "\f0e5"
  .warning
    border-left .3em solid #f66
    &:before
      background-color #f66
      font-family font-icon-family
      content "\f12a"
  .translator
    border-left .3em solid #d8d800
    &:before
      background-color #d8d800
      content "译"
  //译注的上标
  sup.label
    background-color #d8d800
    padding 0
    top -0.6em

//文章中鼠标选中文字的颜色
#main.post
  ::selection
    background lighten(#0080ff, 70%)
    text-shadow none
  .post-content pre code ul li
    ::selection
      color #c0c5ce
      text-shadow none