@import 'styles/variable.styl';

.posts-list {
  color: Black;
  background-color: #fff;
  box-shadow: 0 1px 3px Shadow;

  .posts-list__item {
    margin: 0;
    padding: 16px 20px;
    box-shadow: none;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid GrayLight;

    font-family: font-default;
    font-weight: normal;
    color: Black;

    &:last-child {
      border-bottom: none;
    }

    .posts-list__item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: Black;
        line-height: 1;
        font-size: 20px;
        font-weight: 600;
        font-family: font-serif;
      }

      time {
        color: BlackLighter;
        font-size: 12px;
        font-weight: normal;
        font-family: font-default;
      }
    }

    .posts-list__item-description {
      font-size: 15px;
      margin-top: 10px;
    }

    .posts-list__item-footer {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
