html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: Black;
    font-family: font-default;
    font-size: font-default-size;
    font-smoothing();
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/image/bg.svg");
}
