div(class="archives-title " + name)
  p #{collection.title}
  ul
    for key in collection.keys
      li
        a(href='/?' + name + '&' + key + '&0') #{key}
          sup #{collection.page[key].total}