@import 'styles/variable.styl';

.main-article-wrapper {
    flex: 1 auto;
    display: flex;
    justify-content: center;

    .main-article {
        width: width-main;
        margin-top: 10px;
    }
}
