font-face(family, url, style, weight) {
    @font-face {
        font-family: family;
        font-weight: weight;
        font-style: style;
        src: url(url + ".eot") format("embedded-opentype"),
            url(url + ".woff2") format("woff2"),
            url(url + ".woff") format("woff"),
            url(url + ".ttf") format("truetype"),
            url(url + ".svg") format("svg");
    }
}

font-url(filename, style = null) {
    if style is a 'string' {
        return "/font/" + filename + "/" + filename + "-" + style;
    }
    else {
        return "/font/" + filename + "/" + filename;
    }
}

font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
