@import './variable.styl';
@import './font.styl';

// 标题字体
font-face(font-title, font-url('dancing'), normal, normal);

// 英文正文
font-face('Lato', font-url('Lato', 'Bold'), normal, bold);
font-face('Lato', font-url('Lato', 'Italic'), italic, normal);
font-face('Lato', font-url('Lato', 'Regular'), normal, normal);
font-face('Lato', font-url('Lato', 'BoldItalic'), italic, bold);

// 英文斜体样式重载
font-face('EM-Lora', font-url('Lora', 'Italic'), normal, normal);

* {
    user-select: inherit;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

{h-list} {
    font-family: font-serif;
    font-weight: normal;
}

code, pre {
    font-family: font-mono;
}
