@import './variable.styl';
@import './font.styl';

// 标题字体
font-face('American Typewriter', font-url('americantypewriter'), normal, normal);

// 英文正文
font-face('Lato', font-url('Lato', "Bold"), normal, bold);
font-face('Lato', font-url('Lato', "Italic"), italic, normal);
font-face('Lato', font-url('Lato', "Regular"), normal, normal);
font-face('Lato', font-url('Lato', "BoldItalic"), italic, bold);

// 英文斜体样式重载
font-face("EM-Lora", font-url('Lora', "Italic"), normal, normal);

* {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    user-select: inherit;
    box-sizing: border-box;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
    cursor: default;
    color: Black;
    font-family: font-default;
    font-size: font-default-size;
    font-smoothing();
}
