@import './variable.styl';
@import './font.styl';

// 全局字体定义
font-face('American Typewriter', font-url('americantypewriter'), normal, normal);

* {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    user-select: inherit;
    box-sizing: border-box;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
    cursor: default;
    color: Black;
    font-family: font-default;
    font-size: font-default-size;
    font-smoothing();
}
