// 主要颜色定义
Shadow = #CCC;
Gray = #DDD;
Blue = #1890FF;

WhiteMask = #F3F3F3;

Red = #D41324;
RedLight = #FF6969;

Black = #303133;
BlackLight = #606266;
BlackLighter = #909399;
BlackExtraLight = #C0C4CC;

// 无衬线字体
font-default = "Lato", "-apple-system", "BlinkMacSystemFont", "PingFang SC", "思源黑体", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
// 衬线字体
font-serif = "ST Song", "思源宋体", "宋体", serif;
// 等宽字体
font-mono = Menlo, Monaco, Consolas, Courier New, monospace;
// 标题字体
font-title= "Dancing Script";

// 文章宽度
width-main = 800px;

// 根据宽度设定的 Media
phone = "only screen and (max-width: " + width-main + ")";

// 默认字体大小
font-default-size = 14px;
