@import 'styles/variable';

#to-content {
  @media phone {
    display: none;
  }

  card(main-width - article-width - article-margin-right);

  box-sizing: border-box;
  padding: 0 14px;
  font-size: 14px;

  .menu-list-header {
    padding: 8px 0;
    border-bottom: 1px solid GrayLight;
  }

  .menu-list {
    font-size: 12px;
    list-style: none;
    padding: 0;

    .menu-list {
      padding-left: 12px;
    }
  }
}
