mixin postFooter(post)
  if(post.category || post.tag)
    footer.post-footer
      if(post.category)
        span
          a(href='/?categories&' + post.category + '&0') #{post.category}
      if(post.tag)
        span
          for tag in post.tag
            a(href='/?tags&' + tag + '&0') #{tag}