mixin postFooter(post)
  if(post.category || post.tag)
    footer.post-footer
      if(post.category)
        span
          a(router-to='/categories/' + post.category + '/') #{post.category}
      if(post.tag)
        span
          for tag in post.tag
            a(router-to='/tags/' + tag + '/') #{tag}