@import 'styles/variable.styl';

.page-footer {
    flex: 0 auto;
    font-family: American Typewriter;
    font-weight: 700;
    margin: 40px 0 12px 0;
    width: 100%;
    color: BlackLight;
    text-align: center;
    font-size: 14px;

    .page-footer-author {
        color: Black;
        transition: color .2s ease-out;

        &:hover {
            color: RedLight;
            cursor: pointer;
        }
    }
}
