// 自定义字体
customfont(family, path, style, weight)
  @font-face
    font-family family
    font-style style
    font-weight weight
    src url(path + ".eot")
    src url(path + ".eot?#iefix") format("embedded-opentype"),
        url(path + ".woff2") format("woff2"),
        url(path + ".woff") format("woff"),
        url(path + ".ttf") format("truetype"),
        url(path + ".svg#"+ family) format("svg")

// 完整字族定义，必须包含普通、粗体、斜体、粗斜体四个种类
// 如果不够四个，请直接使用上面的完全字体自定义函数
family-url(filename, style)
  return "/font/" + filename + "/" + filename + "-" + style

familyfont(family, filename)
  customfont(family, family-url(filename, "Bold"), normal, bold)
  customfont(family, family-url(filename, "Italic"), italic, normal)
  customfont(family, family-url(filename, "Regular"), normal, normal)
  customfont(family, family-url(filename, "BoldItalic"), italic, bold)

// 图标字体
iconfont(family, filename)
  customfont(family, "/font/icon/" + filename, normal, normal)
