@import './variable'
@import './font'
@import './post'

*
    margin 0
    padding 0
    -webkit-margin-before 0
    -webkit-margin-after 0

body, html
    height 100%
    background #ddd

#app
    font-smoothing()
    color color-font
    font-size 16px
    line-height 1.5
    font-family font-content
    text-shadow silver 0px 0px 1px
    background color-background
    height 100%
    width 100%
    display flex
    flex-direction column
    > header,
    > footer
        flex 0 0 auto
    > article
        flex 1 0 auto

small
    font-size 0.8em

sub,sup 
    font-size 0.8em
    line-height 0
    position relative
    vertical-align baseline

sup
    top -0.5em
    padding-left 0.3em

sub
    bottom -0.25em
    margin-right .2em

a
    color color-font
    text-decoration none
    cursor pointer
    transition color .25s,background .5s
    &:hover, &:focus
        outline 0
        text-decoration none
    &:hover:before
        transition color .25s,background .5s

input:focus
    outline none

input, button &::-moz-focus-inner
    border 0
    padding 0

.clearfix
    overflow auto

// 全局字体定义
iconfont(font-icon-family, font-icon-filename)
iconfont(font-title-family, font-title-filename)
customfont(chinese-content-family, chinese-content-filename, normal, normal)
familyfont(english-content-family, english-content-filename)

article#container
    margin auto
    width width-main
    overflow hidden
    @media medium
        width 100%
        margin 0
