// 颜色定义
color-theme = #2ca6cb
color-background = #ddd
color-font = #817C7C
color-blue = #2ca6cb
color-content = #413F3F
color-white = #ffffff
color-black = #333
color-orange = #ea6753
color-font-nav = #E9CD4C
color-post = #fafafa
color-gray = #CCC
color-meta = #808080
color-code = #c7254e
color-pre = #c0c5ce
color-border = #ddd

// 主页及分页的相关参数
width-main = 1300px
width-post = 950px
width-phone = 568px

// 归档页面最大宽度
width-archives = 800px

// 根据宽度设定的三个阶段Media
medium = "only screen and (max-width: " + width-main + ")"
mini = "only screen and (max-width: " + width-post + ")"
phone = "only screen and (max-width: " + width-phone + ")"

// 字体设定
font-default = "Lora", "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
font-mono = Menlo, Monaco, Consolas, Courier New, monospace, "Microsoft YaHei", "WenQuanYi Micro Hei"
// 正文英文字族
english-content-family = "Lora"
english-content-filename = "Lora"

// 网站标题以及底栏字体
font-title-family = "American Typewriter"
font-title-filename = "americantypewriter"
// 网站所用字体图标包
font-icon-family = "FontAwesome"
font-icon-filename = "fontawesome"
font-size = 16px
line-height = 1.5

font-smoothing()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale