@import 'styles/variable.styl';
@import './post.styl';

.post-default {
    color: Black;
    background-color: #fff;
    box-shadow: 0 1px 3px Shadow;

    .post-header {
        margin: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid GrayLight;

        .post-header__title {
            color: Black;
            font-size: 28px;
            margin: 0;
            padding: 4px 0;
        }

        .post-header__create {
            color: BlackLighter;
            font-size: 12px;
            font-weight: normal;
            font-family: font-default;
        }
    }

    .post-article {
        font-size: 14px;
        padding: 16px 24px;
        post-default-style();
    }
}
