@import 'styles/variable.styl';
@import './post.styl';

.post-default {
    color: Black;
    background-color: #fff;
    box-shadow: 0 1px 3px Shadow;

    .post-header {
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid GrayLight;

        media-templte(Indent, SmallIndent, @(indent) {
            margin: 0 indent;
        });

        .post-header__title {
            color: Black;
            font-size: 28px;
            margin: 0;
            padding: 0;
        }

        .post-header__create {
            color: BlackLighter;
            font-size: 12px;
            font-weight: normal;
            font-family: font-default;
        }
    }

    .post-article {
        font-size: 14px;
        
        media-templte(Indent, SmallIndent, @(indent) {
            padding: 16px indent;
        });

        post-default-style();
    }
}
