post-default-style() {
    p {
        text-indent: 2em;
        margin-bottom: 0.8em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    span.softbreak {
        display: inline-block;
        width: 2em;
    }
}
