@import 'styles/variable.styl';

.main-header-wrapper {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);

  flex: 0 0 auto;

  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: width-main;
  padding: 0 10px;
}

.main-title {
  display: flex;
  font-size: 24px;
  color: Black;
  align-items: center;
  font-family: font-title, font-default;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 100%;

  .main-nav__item {
    margin-left: 20px;
    color: BlackLighter;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    transition: color .2s;

    &.main-nav__item-highlight {
      color: Black;
    }

    &:hover {
      color: BlackLight;
    }
  }

  .main-nav__item-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: Black;
  }
}
