#main.post article.post-content pre
  text-shadow none
  padding 0em 0 0 0.5em
  background-color #2b303b
  position relative
  font-size 0.9em
  margin 0.8em 0
  @media phone
    font-size 0.8em
  ul
    padding 0
    margin 0
    list-style-type none
    &.gutter
      float left
      padding-right .5em
      > li
        text-align right
        color #5a5a5a
    &.code
      overflow-x auto
      > li:after
        content "　"
  li
    padding 0
    margin 0
    display block
    width 100%
  code
    margin 0
    padding 0
    overflow-wrap normal
    white-space inherit
    color color-pre
    background-color #2b303b
    display block
  &:before
    position absolute
    right 0
    padding 0.2em 0.5em
    font-size .8em
    color #8a8a8a
    font-family font-mono
    text-shadow none
    content 'CODE'
  &.javascript:before
    content 'JavaScript'
  &.c:before
    content 'C'
  &.cpp:before
    content 'C++'
  &.python:before
    content 'python'
  &.bash:before
    content 'BASH'
  &.html:before
    content 'HTML'

pre code span
  color #c0c5ce
  &.hljs-tag
    color #c0c5ce
    .hljs-name
      color #B55B5F
    .hljs-attr
      color #D08770
  &.hljs-string
    color #a3be8c
  &.hljs-keyword
    color #b48ead
  &.hljs-built_in
    color #EBCB8B
  &.hljs-comment
    color #65737e
  &.hljs-type
    color #4271ae
  &.hljs-literal,
  &.hljs-number
    color #d08770
  &.hljs-attribute
    color #f5871f
  &.hljs-attribute-value
    color #3e999f
  &.hljs-declaration
    color #f5871f
  &.hljs-variable-name
    color #c82829
  &.hljs-function-name
    color #4271ae
  &.hljs-punctuation
    color #4d4d4c
