*
  margin 0
  padding 0
  -webkit-margin-before 0
  -webkit-margin-after 0

body
  color color-font
  background color-background
  font-family font-default
  font-size font-size
  line-height line-height
  height 100%
  width 100%
  display flex
  flex-direction column
  > header,
  > footer
    flex 0 0 auto
  > article
    flex 1 0 auto

small
  font-size 0.8em

sub,sup 
  font-size 0.8em
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em
  padding-left 0.3em

sub
  bottom -0.25em

a
  color color-font
  text-decoration none
  &:hover,&:focus
    outline 0
    text-decoration none
    transition color .25s,background .5s
  &:hover:before
    transition color .25s,background .5s

input:focus
  outline none

input, button &::-moz-focus-inner
  border 0
  padding 0

.clearfix
  overflow auto